.bg_blue_dark {
    background-color: #07294D;
    background-image: url(images/pattern_bg.png);
    background-position: center center;
    background-size: cover;

}
.register_form {
    background-color: rgba(255,255,255,0.1);
}
