//colors 
$primary-color: #343a40;
$secondary-color:#ffc107;
$secondary-color-hover:255,188,9,0.7;
$color-red:#dc3545;
$gray-dark: #343a40;
$white: rgb(255, 255, 255);
$black: rgba(0, 0, 0, 0.979);
$gray: gray;
$HoverGray:#333;
$blue:#0e93d8;
$SlickFontSize:30px;
//Card Float
$defaultDuration: .3s;
$primaryColour: #ececec;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, .6);
// As is often the case, some devices/browsers need additional code to get CSS to work
// in the most desired way. These mixins are used to quickly drop in hacks for each element
@mixin hideTapHighlightColor() {
	//Prevent highlight colour when element is tapped
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
	//Improve performance on mobile/tablet devices
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
	//Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}





// imports
// @import"./GEStyle"; WIP
// @import"./body"; WIP
@import"./about";
@import"./courses";
@import"./alert";
@import"./carousel";
@import"./cards";
@import"./header";
@import"./footer";
@import"./buttons";
@import"./variables";
@import"./courses";
//general style 
.list_none li 
{
	list-style:none;
}
section {
    padding: 100px 0;
    position: relative;
    width: 100%;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Rubik', sans-serif;
	color: #292b2c;
	
}

body {
	background: #ffffff none repeat scroll 0 0;
    color: #888888;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;

}

a {
	color: #292b2c;
	text-decoration: none;
	transition: all 0.5s ease;
}
a:hover {
	text-decoration: none;
	color: #FFBC09;
	
}
a:focus {
	text-decoration: none;
	outline: none;
	
}

