//colors 
$primary-color: #343a40;
$secondary-color:#ffc107;
$secondary-color-hover:255,188,9,0.7;
$color-red:#dc3545;
$gray-dark: #343a40;
$white: rgb(255, 255, 255);
$black: rgba(0, 0, 0, 0.979);
$gray: gray;
$HoverGray:#333;
$blue:#0e93d8;




// imports
// @import"./GEStyle"; WIP
// @import"./body"; WIP
@import"./alert";
@import"./carousel";
@import"./header";
@import"./footer";
@import"./buttons";
@import"./variables";

//general style 
.list_none li 
{
	list-style:none;
}